.git
.gitignore
.venv
.python-version
__pycache__
.pytest_cache
.ipynb_checkpoints
mlruns
notebooks
notebook
tests
data
mlartifacts
docker
artifacts
*.ipynb
*.parquet
*.csv
*.pkl
*.joblib
*.md
*.png
*.jpg
*.jpeg
*.svg
!artifacts/serving
!artifacts/serving/*.parquet
!artifacts/serving/meta.json