#Environment
.venv

#Product
mlartifacts

#Data
data/raw
data/processed

#MLFlow
mlflow.db

#Python
__pycache__/
app/__pycache__

#Github
*/prompts/
*/agents/
*/instructions/
*/agents-documentation/
*/skills/
.github/copilot-instructions.md

#Docker
docker/